<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>  
  <packageSources>  
       <add key="nuget.sca.com" value="http://desvm053.sca.com:9012/nuget/nuget.sca" />  
       <add key="nuget.public" value="http://desvm053.sca.com:9012/nuget/nugetCached" />  
  </packageSources>
  <disabledPackageSources>
	<add key="api.nuget.org" value="true" />
	<add key="nuget.org" value="true" />
	<add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
    <config>
    <add key="globalPackagesFolder" value="../../packages" />
    <add key="repositoryPath" value="../../packages" />
  </config>
</configuration>